In [31]:
#create a list
my_list = [1,2,3,4,5]

In [33]:
#add element to the list
my_list.append(6)
print("List after adding 6:", my_list)

List after adding 6: [1, 2, 3, 4, 5, 6]

In [35]:
#remove element from the list
my_list.remove(3)
print("List after removing 3:", my_list)

List after removing 3: [1, 2, 4, 5, 6]

In [37]:
#modify an element in the list
my_list[1] = 10
print("List after modifying the second element:", my_list)

List after modifying the second element: [1, 10, 4, 5, 6]

In [41]:
#create dictionary
my_dict = {'Name' : 'Xara','Age': '27','City': 'London'}

In [45]:
#add a key value pair to the dictionary
my_dict["country"] = 'USA'
print("Dictionary after adding country:", my_dict)

Dictionary after adding country: {'Name': 'Xara', 'Age': '27', 'City': 'London', 'country': 'USA'}

In [47]:
#removing a value pair from dictionary
del my_dict ['Age']
print("Dictionary after removing Age:", my_dict)

Dictionary after removing Age: {'Name': 'Xara', 'City': 'London', 'country': 'USA'}

In [51]:
#modifying a value in dictionary
my_dict['Name'] = 'Benny'
print("Dictionary after modifying Name:", my_dict)

Dictionary after modifying Name: {'Name': 'Benny', 'City': 'London', 'country': 'USA'}

In [53]:
#create a set
my_set = {1,2,3,4,5}

In [55]:
#add an element to the set
my_set.add(6)
print("Set after adding 6:",my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [57]:
#remove element from set
my_set.remove(3)
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [59]:
#modifying elemnt from set,set dont allow duplicates
my_set.add(3)
print("Set after adding 3 again:", my_set)

Set after adding 3 again: {1, 2, 3, 4, 5, 6}